@import "variables.scss";

.mde-textarea-wrapper {
  position: relative;

  textarea.mde-text {
    width: 100%;
    border: 0;
    padding: $mde-editor-padding;
    vertical-align: top;
    resize: vertical;
    overflow-y: auto;
    background: transparent;
    color: inherit;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      sans-serif;
    font-size: 16px;
  }
}
