rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /questions/{questionId}/{document=**} {
      allow read;
      allow create: if request.auth != null;
      allow write: if resource.data.userUid == request.auth.uid;
    }
  }
}