.container {
  padding-top: 30px;
}

.container a {
  text-decoration: underline;
}

.introText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.sectioncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectioncontainer h1 {
  text-align: center;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.homelogo {
  background-size: 20px 30px;
}

.homeimg {
  display: flex;
  gap: 16x;
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: top left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 35px;
}

.homebtn {
  display: inline-block;
  width: 120px;
  height: 40px;
  background-color: var(--orange);
  object-fit: cover;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  text-align: center;
  z-index: 0;
  font-weight: 700;
}

.homebtn:hover {
  background-color: var(--orange);
}

.homepara {
  font-size: 17px;
  text-align: center;
  /* color: white; */
}

.homeparainverted {
  font-size: 17px;
  text-align: center;
}

.homeparalogin {
  font-size: 12px;
  text-align: center;
  /* color: white; */
  z-index: 0;
}

.homehr {
  width: 200px;
  height: 7px;
  background-color: var(--grey1);
  border: none;
}

.big-image {
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  margin: 10px;
  padding: 20px;
  background-color: var(--orange);
  color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.card h4 {
  width: 50px;
  margin-right: 10px;
}

.inlineplacement {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 930px;
}

.languagesimg {
  display: flex;
  width: 520px;
  height: 675px;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
}

.column {
  float: left;
}

.columnp {
  /* float: right;
  width: 75%;
  padding-top: 300px;
  padding-left: 50px;
  height: 300px; */
  text-align: center;
}

.background {
  z-index: -1;
  opacity: 0.9;
}
