.loggedInHomePage {
  display: flex;
  margin-top: 15px;
}

.header {
  margin-bottom: 15px;
}

.header h1 {
  display: inline;
}

.askQuestionContainer {
  position: relative;
}

.askQuestion {
  position: absolute;
  right: 0;
  bottom: 0;
}

.askQuestion button {
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--orange);
  width: 120px;
}

.recentQuestions {
  width: 80%;
}

.sidebar {
  width: 20%;
}

.line {
  border-bottom: 1px var(--grey1) solid;
}

.sidebar {
  margin-left: 20px;
  padding: 15px;
  background-color: var(--grey3);
}

@media only screen and (max-width: 780px) {
  .recentQuestions {
    width: 100%;
  }
  .header h1 {
    font-size: 24px;
  }
}
