.singleComment {
  display: flex;
  align-items: center;
}

.upvoter {
  width: 10%;
}

.line {
  border-bottom: 1px var(--grey1) solid;
}

.text {
  margin-left: 10px;
  font-size: 14px;
  width: 92%;
}

@media only screen and (max-width: 780px) {
  .text {
    margin-left: 46px;
  }
}
