.counters {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.counters span {
  width: 60px;
  text-align: center;
}

@media only screen and (max-width: 780px) {
  .counters {
    margin-left: -15px;
    margin-top: 15px;
  }
}
