.text a {
  text-decoration: underline;
}

.text blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 2px solid;
}

.codeBlock {
  background-color: transparent !important;
  padding-left: 0px !important;
}

.text code {
  background-color: var(--grey3);
  padding-left: 2px;
  padding-right: 2px;
}

.text img {
  max-width: 100%;
}
