.question {
  max-width: 800px;
}

.text {
  display: flex;
}

.markdown {
  margin-top: -1em;
  margin-left: 20px;
  max-width: 800px;
}

.indented {
  margin-left: 45px;
}

.line {
  border-bottom: 1px var(--grey1) solid;
}

.bottomLine {
  margin-top: 52px;
  margin-bottom: 52px;
  border-bottom: 1px var(--grey2) solid;
  max-width: 800px;
}

.controls {
  margin-top: 60px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 780px) {
  .markdown {
    width: calc(100% - 40px);
    max-width: 414px;
  }
}
