@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.18") format("woff2"),
    url("../fonts/Inter-Regular.woff?v=3.18") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2?v=3.18") format("woff2"),
    url("../fonts/Inter-SemiBold.woff?v=3.18") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2?v=3.18") format("woff2"),
    url("../fonts/Inter-Bold.woff?v=3.18") format("woff");
}

body {
  margin: 0;
}

html.light-mode,
body.light-mode {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  background-color: white;
  transition: background-color 0.3s ease;
  color: #37352f;
}

html.dark-mode,
body.dark-mode {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  background-color: #1d1d1d;
  transition: background-color 0.3s ease;
  color: hsla(0, 0%, 100%, 0.9);
}

.light-mode {
  --merdev-max-width: 1400px;
  --white: rgba(255, 255, 255, 0.9);
  --black: #37352f;
  --button-color: var(--black);
  --button-hover: #535047;
  --search-bar-bg: #ffffff;
  --search-bar-border: #dbdbdb;
  --logo-color: var(--black);
  --grey1: #dddddd; /* for lines, borders, and tag boxes */
  --grey2: #858585; /* for secondary, not so important buttons or items */
  --grey3: #f4f4f4; /* for "floating card" backgrounds and menu bg color */
  --green: #53ba7d;
  --orange: #ffa755;
  --arrow-unhighlighted: #e6e6e6;
  --secondary-bg: var(--arrow-unhighlighted); /* e.g. login and signup page */
  --text-editor-main-color: var(--black);
}

.dark-mode {
  --merdev-max-width: 1400px;
  --white: rgba(255, 255, 255, 0.9);
  --black: #37352f;
  --button-color: #515151;
  --button-hover: #6b6b6b;
  --search-bar-bg: #1d1d1d;
  --search-bar-border: #484848;
  --logo-color: #ffffff;
  --grey1: #343434; /* for lines, borders, and tag boxes */
  --grey2: #858585; /* for secondary, not so important buttons or items */
  --grey3: #373737; /* for "floating card" backgrounds and menu bg color */
  --green: #53ba7d;
  --orange: #ffa755;
  --arrow-unhighlighted: #515151;
  --secondary-bg: var(--arrow-unhighlighted); /* e.g. login and signup page */
  --text-editor-main-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: var(--button-color);
  color: var(--white);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.05s;
  height: 30px;
  font-family: "Inter";
}

input {
  font-family: "Inter";
  background: transparent;
  border: 1px solid var(--grey2);
  color: inherit;
  padding: 8px;
}

.globalContainer {
  max-width: var(--merdev-max-width);
  margin: auto;
  padding: 14px;
}

button:hover {
  background-color: var(--button-hover);
  transition: 0.05s;
}
