.menuContainerContainer {
  height: 48px;
  width: 100%;
  background-color: var(--grey3);
  /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.menu {
  position: relative;
  max-width: var(--merdev-max-width);
  margin: auto;
  padding: 14px;
  z-index: 1;
}

.usernameAndSignOut {
  position: absolute;
  top: 12px;
  right: 12px;
  vertical-align: middle;
}

.usernameAndSignOut button {
  height: 25px;
}

.username {
  margin-right: 10px;
  text-align: right;
  vertical-align: middle;
  color: var(--logo-color);
}

.mobileSearch {
  margin-left: 20px;
  padding: 10px;
}

.themeButton {
  margin-left: 10px;
}
