.menuContainerContainer {
  height: 48px;
  width: 100%;
  background-color: #f4f4f4;
}

.menu {
  position: relative;
  max-width: var(--merdev-max-width);
  margin: auto;
  padding: 14px;
  z-index: 1;
}

.usernameAndSignOut {
  position: absolute;
  top: 12px;
  right: 12px;
}

.usernameAndSignOut button {
  height: 25px;
}

.username {
  margin-right: 10px;
  text-align: right;
  vertical-align: middle;
}
