.pfpContainer {
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
}

.pfp {
  position: absolute;
  object-fit: cover;
  height: 50px;
  width: 50px;
}
