.signIn {
  position: absolute;
  right: 72px;
  top: -3px;
  margin: 12px;
}

.signUp {
  position: absolute;
  right: 0px;
  top: -3px;
  margin: 12px;
}

.signInSignUp button {
  height: 25px;
}

.btn {
  height: 30px;
}
